## Modello riammissione

In [83]:
import pandas as pd
from azureml.core import Workspace, Dataset

ws = Workspace.from_config()

In [84]:
data = Dataset.get_by_name(ws, 'RIPE').to_pandas_dataframe()
cleaned = Dataset.get_by_name(ws, 'RIPE - Pulito - NEW DUMMY').to_pandas_dataframe()

In [85]:
samples = data.sample(10).sort_values('patient_nbr')
ids = samples['patient_nbr'].unique().astype('str')
cleaned_samples = cleaned.loc[cleaned['patient_nbr'].isin(ids), :]

In [86]:
samples

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
18923,67979232,8514144,Caucasian,Female,[80-90),?,3,3,1,4,...,False,Steady,False,False,False,False,False,Ch,True,<30
21654,75293700,17045262,AfricanAmerican,Female,[70-80),?,1,3,7,12,...,False,Steady,False,False,False,False,False,No,True,NO
24613,83250126,21924675,Caucasian,Female,[40-50),?,1,6,7,12,...,False,No,False,False,False,False,False,No,False,NO
39953,124277148,24540075,Caucasian,Female,[80-90),?,1,3,5,13,...,False,Up,False,False,False,False,False,Ch,True,>30
62717,174656802,27251892,AfricanAmerican,Female,[70-80),?,1,3,7,6,...,False,Steady,False,False,False,False,False,No,True,>30
77891,237048234,39501135,Caucasian,Male,[80-90),?,1,3,7,7,...,False,No,False,False,False,False,False,No,False,>30
48801,148478412,61613208,Caucasian,Female,[90-100),?,1,14,7,10,...,False,Steady,False,False,False,False,False,Ch,True,NO
39908,124091460,93377601,Asian,Female,[60-70),?,3,1,1,1,...,False,No,False,False,False,False,False,No,False,NO
82668,257728764,97227027,Caucasian,Male,[40-50),?,1,7,7,1,...,False,Down,False,False,False,False,False,Ch,True,>30
58885,166295796,99168975,Caucasian,Female,[50-60),?,1,1,7,2,...,False,Steady,False,False,False,False,False,No,True,>30

In [87]:
cleaned_samples

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses,metformin,repaglinide,...,A1Cresult_1,level1_diag1_0.0,level1_diag1_1.0,level1_diag1_2.0,level1_diag1_3.0,level1_diag1_4.0,level1_diag1_5.0,level1_diag1_6.0,level1_diag1_7.0,level1_diag1_8.0
14537,67979232,8514144,1.201957,-0.130929,-1.067459,0.393568,0.249419,-0.211194,1,0,...,0,0,0,0,0,0,0,1,0,0
16384,75293700,17045262,0.574899,2.558573,1.378996,-0.194552,-0.491998,-0.211194,0,0,...,1,0,0,0,0,1,0,0,0,0
18382,83250126,21924675,-1.306274,2.558573,1.022221,1.569807,0.620127,0.820685,0,0,...,0,0,1,0,0,0,0,0,0,0
29552,121068582,93377601,-0.052159,-0.803305,-1.628105,-0.782671,-1.356985,-1.243074,0,0,...,0,0,0,0,1,0,0,0,0,0
30099,123166500,24540075,1.201957,-0.130929,-0.201006,0.393568,1.237975,-0.211194,0,0,...,0,0,0,0,0,0,1,0,0,0
32471,131348118,61613208,1.829014,0.541446,-1.730040,-0.782671,-1.109846,0.820685,0,1,...,0,1,0,0,0,0,0,0,0,0
44485,166295796,99168975,-0.679216,-0.803305,0.461575,-0.782671,0.125849,0.820685,0,0,...,0,0,0,0,0,0,0,0,1,0
47011,174656802,27251892,0.574899,0.541446,1.531899,-0.782671,-0.739137,0.304746,0,0,...,0,0,0,0,0,0,0,0,1,0
52649,207234498,39501135,1.201957,1.886198,-1.526169,-0.194552,0.125849,-0.211194,0,0,...,0,0,0,1,0,0,0,0,0,0
59547,257728764,97227027,-1.306274,-1.139493,-1.322298,-0.782671,-0.739137,0.304746,0,0,...,0,0,0,0,0,1,0,0,0,0

In [88]:
scoring_samples = cleaned_samples.drop(['readmitted', 'patient_nbr', 'encounter_id'], axis = 1)

In [89]:
scoring_uri = "http://51219778-b190-4555-8416-bb15bcba4112.westeurope.azurecontainer.io/score"

In [109]:
import requests
import json

samples = data.sample(10).sort_values('patient_nbr')
ids = samples['patient_nbr'].unique().astype('str')
cleaned_samples = cleaned.loc[cleaned['patient_nbr'].isin(ids), :]
scoring_samples = cleaned_samples.drop(['readmitted', 'patient_nbr', 'encounter_id'], axis = 1)

scoring_dataset = scoring_samples.values.tolist()
# Convert the array to a serializable list in a JSON document
input_json = json.dumps({"data": scoring_dataset})

# Set the content type
headers = { 'Content-Type':'application/json' }

predictions = requests.post(scoring_uri , input_json, headers = headers)
predicted_classes = json.loads(predictions.json())

for i in range(len(scoring_dataset)):
    print ("Patient {}".format([i]), predicted_classes[i] )

Patient [0] not readmitted
Patient [1] not readmitted
Patient [2] not readmitted
Patient [3] not readmitted
Patient [4] not readmitted
Patient [5] not readmitted
Patient [6] not readmitted
Patient [7] readmitted
Patient [8] not readmitted
Patient [9] not readmitted